<nb-layout>
	<nb-layout-column>
		<nb-stepper #stepper>
			<nb-step label="First step">
        1        
				<button nbButton nbStepperNext>next</button>

			</nb-step>
			<nb-step label="Second step">
				2
				<button nbButton nbStepperPrevious>prev</button>
				<button nbButton nbStepperNext>next</button>

			</nb-step>
			<nb-step label="Third step">
				3
				<button nbButton nbStepperPrevious>prev</button>
				<button nbButton nbStepperNext>Confirm</button>

			</nb-step>
			<nb-step label="Third step">
				<div class="step-container">
					<h3>Wizard completed!</h3>
					<button nbButton (click)="stepper.reset()">Try again</button>
				</div>
			</nb-step>
		</nb-stepper>
	</nb-layout-column>
</nb-layout>